html{
    background-image: linear-gradient(to bottom right, #9296b8 0%, #c0a1b1 50%, #eea85f 75%);
}

* {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.header{
    text-align: center;
}

#profile{
    border-radius:50%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.icon-tray{
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    justify-content: space-between;
}

body{
  font-family: 'Alata';
  font-size: 35px;
}
.project{
  text-decoration: none;
  color: black;
  position: relative;
}
.project:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, .8, .13, 1);
  background-color: whitesmoke;
}
.project:hover:after {
  top: 0%;
}
/* main{
    margin-top: 50px;
    margin-left: 200px;
    min-height: calc(100vh - 88px);
} */

.logo {
    color: #d9d9d9
}
#linkedin:hover {
    color: #0073b1
}
#gh:hover {
    color: black
}
#ig:hover{
    background-image: linear-gradient(to bottom right, #8134AF 0%, #dd2a7b 50%, #feda77 75%, #f58529 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
#resume:hover{
    color: #ff9966;
}

main p{
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  margin-right: 20%;
  margin-left: 20%;
  padding: 10px;
  /* text-align: center; */
}

footer{
  font-size: 17px;
  color: #d9d9d9;
  background-color: #404040;
  display:block;
  padding: 15px 0;
  text-align: center;
}

footer a{
    color: #d9d9d9;
}

.grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  /* left: 0; */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav p{
  color: #818181;
  font-size: 18px;
  padding: 8px 8px 8px 70px;
  font-style:italic;
}

#sideheader{
  padding-left: 32px;
  color: #818181;
  font-size: 50px;
  /* text-align: center; */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}